In [22]:
import random

In [23]:
def set_of_real_numbers():
    return {round(random.uniform(2.0, 12.0), 2) for _ in range(5)}

Aset = set_of_real_numbers();
print("First set", Aset);

Bset = set_of_real_numbers();
print("Second set", Bset);

Cset = set_of_real_numbers();
print("Third set", Cset);

Dset = set_of_real_numbers();
print("Fourth set", Dset);

First set {2.89, 2.53, 4.03, 4.55, 9.01}
Second set {3.91, 3.75, 3.81, 6.12, 10.91}
Third set {3.66, 5.01, 7.92, 11.63, 11.08}
Fourth set {2.46, 4.73, 7.09, 7.53, 11.6}

In [24]:
def find_largest(x):
    return max(x)

def find_smallest(x):
    return min(x)

In [25]:
print("First set", Aset);
print("smallest number of First set", find_largest(Aset));
print("biggest number of Firts set", find_smallest(Aset));

First set {2.89, 2.53, 4.03, 4.55, 9.01}
smallest number of First set 9.01
biggest number of Firts set 2.53

In [26]:
print("First set", Bset);
print("smallest number of Second set", find_largest(Bset));
print("biggest number of Second set", find_smallest(Bset));

First set {3.91, 3.75, 3.81, 6.12, 10.91}
smallest number of Second set 10.91
biggest number of Second set 3.75

In [27]:
print("First set", Cset);
print("smallest number of Third set", find_largest(Cset));
print("biggest number of Third set", find_smallest(Cset));

First set {3.66, 5.01, 7.92, 11.63, 11.08}
smallest number of Third set 11.63
biggest number of Third set 3.66

In [28]:
print("First set", Dset);
print("smallest number of Fourth set", find_largest(Dset));
print("biggest number of Fourth set", find_smallest(Dset));

First set {2.46, 4.73, 7.09, 7.53, 11.6}
smallest number of Fourth set 11.6
biggest number of Fourth set 2.46

In [29]:
listA = list(Aset)
listB = list(Bset)
listC = list(Cset)
listD = list(Dset)

In [31]:
print ("List of First Set", listA);
print ("List of Second Set", listB);
print ("List of Third Set", listC);
print ("List of Fourth Set", listD)

List of First Set [2.89, 2.53, 4.03, 4.55, 9.01]
List of Second Set [3.91, 3.75, 3.81, 6.12, 10.91]
List of Third Set [3.66, 5.01, 7.92, 11.63, 11.08]
List of Fourth Set [2.46, 4.73, 7.09, 7.53, 11.6]